[Desktop Entry]
Version=1.0
Type=Application
Name=Kore Package Manager
Comment=Manage Linux tarballs, AppImages and binaries directly from the terminal.
Exec=~/.local/bin/kpm
Icon=kore-logo.svg
Terminal=true
Categories=Utility;System;
